.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        = @group.name
      %ul.main-header__left-box__member-list 
        Member :
        - @group.users.each do |user|
          %li.main-header__left-box__member-list__member
            = user.name
    = link_to "Edit", edit_group_path(@group)
  .messages
    = render @messages
   
  .form
    = form_for [@group, @message] do |f|
      .input-box
        = f.text_field :content,class: "input-box__text",placeholder: "type a message"     
        = f.label :image, class: "input-box__image" do
          = fa_icon 'image'
          = f.file_field :image,  class: "input-box__image__file"
      = f.submit "Send", class: "submit-btn"